:root {
    --color: aqua;
    --curr-value: cross;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    background-color: #000;
    border: 6px solid #000;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    min-width: 35%;
    max-width: 500px;
}

.square {
    container-type: size;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color);
}

.cross::after {
    font-size: 5rem;
    content: '\D7';
}

.circle::after {
    font-size: 3rem;
    content: '\25EF';
}

.square:hover {
    background-color: rgba(250, 154, 154);
}

.square:hover:not(.selected)::after {
    opacity: 0.4;
}

:root[style*="--curr-value: cross"] .square:hover:not(.selected)::after {
    content: '\D7';
    font-size: 5rem;
}

:root[style*="--curr-value: circle"] .square:hover:not(.selected)::after {
    content: '\25EF';
    font-size: 3rem;
}

button {
    cursor: pointer;
    background-color: var(--color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: 0 0 1px rgb(0 0 0 / 0.5);
    transition: transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}